# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# Editor files
/.idea/
/target/
/axxess.iml

# loadable test resources
*.accdb
*.mdb

# test output
/axxess-out/
/axxess-csv-out/

/src/test/resources/integration/
!/src/test/resources/integration/types/db/all_datatypes.mdb
!/src/test/resources/integration/avereest/db/README
!/src/test/resources/integration/kohier/db/README
!/src/test/resources/integration/walcheren/db/README
/src/test/test-set/

!/docker/example/db/simple.mdb

